# Pandas Basics

### Reading / Writing data

In [ ]:
import pandas as pd

# Read data       
df = pd.read_csv("file.csv", delimiter = ';')             
df = pd.read_excel("file.xlsx", sheet_name = 'Sheet2') 
df = pd.read_json("file.json")

# Write Data
df.to_csv("output.csv", index = False)

### Exploratory Data Analysis

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sn

plt.style.use('ggplot')            # bonus: make plot nicer
pd.set_option('max_columns', 200)  # expand the max columns displayed

### First look at the data

In [ ]:
df.shape    # (row, column) 
df.head()   # first 5 rows, set_option() can display more columns
df.columns  # all column names
df.dtypes   
df.describe()  # descriptive statistics of the df

### Data Cleaning

In [ ]:
# 1) subset the datasets, 
df[["all columns you want to keep"]]

# 2) drop one column
df.drop(["you want to drop"], axis=1)  # axis=1: drop a column, not a row. 

# 3) save a copy 
df.copy()

In [ ]:
# change data type
df['date column'] = pd.to_datetime(df['date column'], format='%Y-%m-%d')
df['date column'] = pd.to_numeric(df['date column'])

In [ ]:
# rename the column, use dictionary
df.rename(columns={'old_name1':'new_name1', 'old_name2': 'new_name2', 'old_name3': 'new_name3'})

#### Check specific data details

In [ ]:
# check na values
df.isna()        # bool
df.isna().sum()  # sum up the numbers

# check duplicated values
df.duplicated() 
df.duplicated(subset=['column1', 'column2', 'column3'])    # check the specific features
df.loc[df.duplicated(['column1', 'column2', 'column3'])]   # get their locations
### save a df without duplicated values
df = df.loc[~df.duplicated(subset=['column1', 'column2', 'column3'])] \
     reset_index(drop=True)


# check an example duplicate
df.query('colunm == "xxx"')

## Use Plots to Explore the Features

In [ ]:
# Count how often each specific number occurs
## normalize = True, for normalized frequency
df['column1'].value_counts()

In [ ]:
# Another method for Comparison
df.groupby(['column1', 'column2'])

In [ ]:
# an exampl plot to sort out top ten most frequent values in a series
ax = df['column1'].value_counts().head(10).plot(kind='bar', title = 'xxx')
ax.setxlabel('column2')
ax.setylabel('column3')

In [ ]:
# an histogram example for one series distribution
ax2 = df['column2'].plot(kind='hist', bin=20, title ='yyy')
ax2 = setxlabel('column2')

# for smooth distribution, use kind='kde'
ax2 = df['column2'].plot(kind='kde', bin=20, title ='yyy')
ax2 = setxlabel('column2')

In [ ]:
# scatterplot, for a matplotlib project
df.plot(kind ='scatter', x = 'column1', y = 'column2', title = 'zzz')
plt.show()  # get rid of the subplot

### with seaborn for advanced plots
sns.scatterplot(x = 'column1', 
                y = 'column2', 
                data = df, 
               hue = 'column3')        # color the data points based on other variables

In [ ]:
# pairplot, distribution, correlations between each pair of variables
sns.pairplot(data = df,
             vats = ['x1', 'x2', 'x3'],
            hue = 'x4')
plt.show()

In [ ]:
# correlation 
corr = df[['x1', 'x2', 'x3']].dropna().corr()
sns.heatmap(corr, annot = True)     # get annotations

## Data Manipulation Useful for economics data

In [ ]:
# Create a time column
time = pd.date_range(start="1980/1", end="2025/1", freq="Q")

In [ ]:
# for logistic regression: encoding
df["rank"].astype("category")

In [ ]:
# data aggregation 

# Change/Check data type         
chr() # convert to character, string        
int() # to integer   
type() # check type   

# For dataframe
df.corr()  # correlation between each pair

In [ ]:
### Seasonality decomposition

In [ ]:
# 1) with statsmodel
import statsmodels.api as sm
result1 = sm.tsa.seasonal_decompose(df,model='additive',period = 4)
result1_adjusted = df["column"] - df_res.seasonal

# 2) with STL decomposition: LOESS: locally estimated scatterplot smoothing
from statsmodels.tsa.seasonal import STL
result2 = STL(df1["real wage"], period = 4)  # if it is annual data
result2_fit = result21.fit()
result2_adjusted = df1["real wage"] - result2_fit.seasonal

In [ ]:
# Save the dataframe
df.to_excel("df.xlsx")

In [ ]:
# Sort data into quarterly mean (.sum())
df = df["column"].resample('Q').mean

In [ ]:
# Get log difference 
series_new = np.log(series).diff()

# Get percentage change
series.pct_change()

## NumPy Operations

In [ ]:
# Basics in numpy 
1) 1-d array
np.arrange(1,10)       # sequence 1~9   
np.linspace(1,20,5)    # equally divide 1-20 to 5 folds   
np.zeros(5, dtype=int) # sequence of 0s  
np.ones(5, dtype=int)  # sequence of 1s   
np.rand(5, dtype=int)  # generate 5 random numbers

In [ ]:
2) 2-d matrix  
# [row, column]   
np.zeros([4,3], dtype = np.int)

In [ ]:
3) properties: size(# in the sequence,matrices; length; shape: datatype)　　   
array.size        
len(array)         
array.shape     # returns a tuple with # of elements in each dimension　　　  
array.dtype     # check array data type, character, string cannot be used　         
array.astype(float64)  # convert to datatype: float, int, bool

In [ ]:
4) sorting　　  
array.sort()          
np.sort(array, axis = 0)     # 2-d array, based on first axis     
np.sort(array, axis = -1)    # last axis     
np.sort(array, axis = None) # no axis, all elements

In [ ]:
5) manipulation     
np.append(array,[9])        # add at the end 1-d array    
np.delete(array, object)    # delete an 1-d element    
np.reshape(n,m)     
array.reshape((12))

In [ ]:
6) combine/split operation    
np.concatenate((arr1, arr2), axis = 0)    
np.split(arr,3,1)    # np.hsplit(); np.vsplit()

In [ ]:
7) mathematical, 
np.add(arr1, arr2)  
np.subtract(arr1, arr2)   
np.multiply(arr1, arr2)  
np.divide(arr1, arr2)   
np.power(arr1, arr2)  
np.exp(arr1)   
np.sqrt(arr1)    
np.log(arr1)   
np.absolute(arr1)  
np.round(arr1, 3)    # round to 3 digits

In [ ]:
8) statistics, relate to the df operation! 
np.mean(arr1)  
np.sum(arr1)   
np.max(arr1)  
np.min(arr1)  
np.var(arr1)  
np.std(arr1)  
np.corrcoef(arr1,arr2)  # correlation coefficient